<footer class="py-5 border-top">
  <div class="container d-flex flex-column flex-sm-row align-items-center justify-content-between gap-3">
    <p class="mb-0 small">&copy; <span id="year"></span>certificationexams.pro</p>
    <div class="d-flex gap-3">
      <a class="link-primary" href="https://certificationexams.pro/training/">Udemy Practice Exams</a>
      <a class="link-primary" href="https://certificationexams.pro/others/isaca/">ISACA Exam Questions</a>
      <a class="link-primary" href="https://certificationexams.pro/others/">ISC2 Exam Questions</a>
    </div>
  </div>
</footer>
